:root{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

a, button, input{
    transition: .2s linear;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
    margin: 0;
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}

.button{
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.input{
    outline: none;
    border: none;
    background: none;
}

.input::placeholder{
    color: #acbdce;
}

.input:focus::placeholder{
    opacity: 0; 
}

.select{
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.mt1{
    margin-top: 1rem;
}

.mt2{
    margin-top: 2rem;
}

.scroll{
    overflow: hidden;
}

.black{
    font-weight: 900;
}

.blue{
    color: #13599F;
}

.white{
    color: #fff;
}

.title{
    font-weight: 700;
    color: #acbdce;
    font-size: 4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title__center{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section__padding{
    padding: 6rem 0;
}

.text__status{
    color: #439c43;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.text__date{
    display: flex;
    align-items: center;
    color: #4e80a8;
}

.text__date.white{
    color: #fff;
}

.text__date--img{
    margin-right: 1rem;
}

.medium__text{
    font-size: 2rem;
    color: #24333f;
}

.default__button{
    padding: 1.9rem 7rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    background: #0A7CEE;
    box-shadow: 0px 4px 20px #158AFF, inset 0px -4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
}

.default__button:hover{
    background: #0e63b7;
    box-shadow: 0px 4px 20px #0e63b7, inset 0px -4px 0px rgba(0, 0, 0, 0.15);
}

.text__name{
    font-size: 2.5rem;
    font-weight: 700;
    color: #13599f;
}

.dots{
    position: absolute;
    pointer-events: none;
    z-index: -1;
    top: 50px;
    right: 50px;
}

/* Авторизация */
.auth{
    position: relative;
}

.auth__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__content{
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
}

.auth__links{
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
}

.auth__link{
    margin-top: 1.5rem;
}

.auth__link:first-child{
    margin-top: 0;
}

.auth__input--inner{
    width: 47%;
    margin-top: 3.5rem;
}

.auth__input--inner.full{
    width: 100%;
}

.auth__input--inner:first-child, .auth__input--inner:nth-child(2){
    margin-top: 0;
}

.auth__input{
    width: 100%;
    font-size: 2rem;
    color: #668faf;
    padding-bottom: .7rem;
    border-bottom: 2px solid #ACBDCE;
}

.auth__input:focus{
    border-bottom: 2px solid #007cee;
}

.auth__checkbox{
    display: none;
}

.auth__label{
    position: relative;
    cursor: pointer;
    padding-left: 3.5rem;
    font-size: 2rem;
    color: #668faf;
    display: block;
}

.auth__label:before, .auth__label:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
}

.auth__label:before{
    width: 24px;
    height: 24px;
    box-shadow: 2px 2px 5px #D7D7D7, -2px -2px 5px #FFFFFF, inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top: 0;
}

.auth__label:after{
    width: 16px;
    height: 14px;
    background: url("assets/img/check.svg") center no-repeat;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 5px;
    opacity: 0;
    transition: .2s linear;
}

.auth__checkbox:checked + .auth__label:after{
    opacity: 1;
}

.auth__button{
    margin-top: 6rem;
}

/* Новости */
.news__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__content{
    width: 100%;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.news__item{
    display: flex;
}

.news__item--img{
    width: 350px;
    height: auto;
    flex-shrink: 0;
}

.news__item--text--inner{
    width: 100%;
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 10px 10px 0;
    background: #fff;
}

.news__text{
    margin-top: 1.5rem;
}

.news__wrapper{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__date{
    display: flex;
    align-items: center;
}

.news__social--inner{
    display: flex;
    align-items: center;
}

.news__social--link{
    margin-right: 1.5rem;
    display: flex;
}

.news__social--link:last-child{
    margin-right: 0;
}

.news__social--img{
    width: 100%;
    height: auto;
}

.news__button{
    margin-top: 5rem;
}

.news__box, .social__box, .rep__box, .contact__box{
    margin-top: 4rem;
    width: 100%;
    position: relative;
    padding: 3rem;
    background: url("assets/img/news-fon.jpg") center no-repeat;
    background-size: cover;
}

.rep__box, .contact__box{
    margin-top: 0;
    background: none;
}

.social__box{
    background: url("assets/img/smi-fon.jpg") center no-repeat;
    background-size: cover;
}

.news__contained{
    display: flex;
    justify-content: flex-end;
}

.news__box--text--inner, .report__box--text--inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 605px;
}

.report__box--text--inner{
    max-width: 700px;
}

.news__box--text--title{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.news__box--text--text{
    color: #fff;
    margin-top: 2rem;
}

.news__box--img, .smi__box--img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-height: 110%;
    width: 36vw;
    pointer-events: none;
}

.smi__box--img{
    left: auto;
    right: 0;
}

/* Отчеты */
.report__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
}

.report__item{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.report__item:first-child{
    margin-top: 0;
}

.report__date{
    color: #13599f;
    font-size: 3rem;
    font-weight: 700;
}

.report__box{
    width: 100%;
    margin-top: 2.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2rem;
}

.report__box--item{
    padding: 1rem 0;
    border-bottom: 1px solid #EEE;
    display: flex;
    align-items: center;
}

.report__box--date{
    width: 20%;
}

.report__box--type{
    width: 10%;
}

.report__box--operate{
    width: 20%;
}

.report__box--price{
    width: 20%;
}

.report__box--val{
    width: 20%;
}

.report__box--total{
    width: 10%;
}

.report__box--item p{
    font-size: 1.4rem;
    color: #24333f;
}

.report__box--item p.grey{
    color: #90A1AE;
}

.report__analitic{
    width: 100%;
    margin-top: 4rem;
}

.rep__box--text--inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
}

.rep__box--text{
    color: #24333f;
    margin-top: 2rem;
}

.rep__box--text:first-child{
    margin-top: 0;
}

/* С чего начать */
.start{
    position: relative;
}

.start__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start__content{
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.start__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.start__item:before{
    content: "";
    display: block;
    background: #ACBDCE;
    width: calc(100% + 30px);
    height: 2px;
    position: absolute;
    z-index: -1;
    top: 121px;
    left: 50%;
    transform: translateX(-50%);
}

.start__item:first-child:before, .start__item:last-child:before{
    right: -15px;
    left: auto;
    width: calc(50% + 15px);
    transform: translateX(0%);
}

.start__item:last-child:before{
    right: auto;
    left: -15px;
}

.start__item--wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start__item--icon--inner{
    display: flex;
    width: 76px;
    height: 76px;
    align-items: center;
    justify-content: center;
}

.start__item--icon{
    width: auto;
    height: auto;
}

.start__item--circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 4px 20px #158AFF, inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    border: 3px solid #006FDE;
    margin-top: 3rem;
}

.start__item--circle:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: #006FDE;
    box-shadow: 0px 4px 20px #158AFF, inset 0px -2px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
}

.start__item--title{
    font-size: 2rem;
    font-weight: 900;
    color: #13599f;
    text-align: center;
    margin-top: 2rem;
}

.start__item--text{
    margin-top: 1.5rem;
    text-align: center;
    color: #24333f;
}

.start__item--button{
    width: 100%;
    padding: 1.4rem 2rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.privat__button{
    background: none;
    border: 1px solid #158AFF;
    color: #90a1ae;
    box-shadow: none;
}

.privat__button:hover{
    color: #fff;
}

.time{
    background: url("assets/img/mission-fon.jpg") center no-repeat;
    background-size: cover;
    padding: 2rem 0;
}

.time__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 9rem;
}

.time__wrapper:last-child{
    margin-right: 0;
    align-items: flex-start;
}

.time__title, .time__text{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    max-width: 275px;
}

.time__text{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.time__img--inner{
    margin-top: 2rem;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    margin-left: 15px;
}

.time__img, .time__img--preview{
    max-width: 100%;
}

.time__img--preview{
    position: relative;
    top: 15px;
    left: -15px;
}

.program{
    padding: 5rem 0 10rem 0;
    background: #ECEDEF;
    position: relative;
}

.program__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program__content{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.program__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.program__item--img--inner{
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.program__item--img{
    max-width: 100%;
    max-height: 100%;
}

.program__item--text{
    text-align: center;
    color: #24333f;
    margin-top: 3rem;
}

.circle__img{
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.vector{
    padding: 0rem 0rem 7rem 0;
    position: relative;
}

.vector__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector__content{
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    position: relative;
    top: -50px;
}

.vector__item{
    border-radius: 10px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: .2s linear;
    background: #fff;
}

.vector__item:hover{
    background: #207CD8;
}

.vector__item--icon path{
    transition: .2s linear;
}

.vector__item:hover .vector__item--icon path{
    fill: #fff;
}

.vector__item:hover .vector__item--title, .vector__item:hover .vector__item--text{
    color: #fff;
}

.vector__item--title{
    color: #13599f;
    font-weight: 700;
    margin-top: 2.5rem;
    transition: .2s linear;
}

.vector__item--text{
    transition: .2s linear;
    font-size: 1.4rem;
    color: #24333f;
    margin-top: 1.7rem;
}

.vector__box{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.vector__box--item{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.vector__box--img--inner{
    width: 76px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector__box--img{
    max-width: 100%;
    max-height: 100%;
}

.vector__box--text{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #13599f;
    margin-top: 3rem;
}

.vector__wave{
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 400px;
    max-width: 100%;
}

.review__title{
    margin-top: 8rem;
}

.review__content{
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.review__item{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2rem 2.5rem;
    background: #fff;
    display: flex;
    align-items: flex-start;
}

.review__item--img{
    margin-right: 2rem;
    flex-shrink: 0;
    width: 110px;
    height: auto;
}

.review__item--name{
    font-weight: 900;
    font-size: 2rem;
    color: #158aff;
}

.review__item--text{
    margin-top: 1rem;
    color: #24333f;
}

.review__button{
    margin-top: 3rem;
}

/* Мы строим */
.build__content{
    top: 0;
    margin-top: 5rem;
}

.some{
    padding: 8rem 0;
    position: relative;
}

.some__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some__content{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.certificate{
    padding: 4rem 0;
    background: url("assets/img/news-fon.jpg") center no-repeat;
    background-size: cover;
}

.certificate__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.certificate__text--inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 510px;
}

.certificate__text--title{
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.certificate__text--text{
    color: #fff;
    margin-top: 3rem;
}

.certificate__img{
    max-width: 100%;
}

/* Маркетинг */
.mark{
    padding: 5rem 0;
    background: url("assets/img/marketing-fon.png") center no-repeat;
    background-size: cover;
    margin-top: 4rem;
}

.mark__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark__tab--inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark__tab--inner.grey{
    margin-top: 7rem;
}

.mark__tab--inner.grey .mark__tab{
    color: #668faf;
}

.mark__tab--inner.grey .mark__tab.active{
    border: 1px solid #668faf;
}

.mark__tab{
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 50px;
    margin-right: 4rem;
    font-size: 3rem;
    font-weight: 700;
}

.mark__tab:last-child{
    margin-right: 0;
}

.mark__tab.active{
    border: 1px solid #fff;
}

.mark__info--inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.mark__info{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mark__info--img{
    width: 225px;
    height: auto;
}

.mark__info--title{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.mark__info--text{
    color: #fff;
    margin-top: 2rem;
}

.mark__point--inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5rem;
}

.mark__point{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    margin-top: 2rem;
}

.mark__point:first-child{
    margin-top: 0;
}

.mark__point--check{
    margin-right: 1rem;
}

.mark__content{
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
}

.mark__item{
    position: relative;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.mark__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.mark__item--desc{
    width: 100%;
    padding: 1.8rem 2.5rem 5rem 2.5rem;
    border-radius: 10px;
    background: #CBDDEC;
    text-align: center;
    color: #24333f;
    font-size: 1.5rem;
}

.mark__item--button{
    position: absolute;
    top: 100%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    padding: 1.6rem 4rem;
}

.mark__item--wrapper{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.mark__wrapper{
    display: flex;
    flex-direction: column;
}

.mark__item--wrapper--text{
    font-weight: 500;
    color: #24333f;
    max-width: 175px;
}

.mark__wrapper--title{
    font-size: 2.4rem;
    color: #668faf;
    font-weight: 500;
}

.mark__wrapper--text{
    font-size: 3rem;
    color: #13599F;
    font-weight: 700;
}

.mark__item--entry{
    padding: 0.7rem 1.5rem 0.7rem 2.8rem;
    background: linear-gradient(180deg, #13599F 0%, #006FDE 100%);
    border-radius: 0px 20px 20px 0px;
    color: #fff;
    font-weight: 700;
}

.mark__item--content{
    width: 100%;
    padding: 0rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark__item--val{
    font-size: 2rem;
    color: #13599f;
    font-weight: 700;
}

.mark__item--val.big{
    font-size: 3rem;
}

.line{
    position: relative;
    width: 100%;
    text-align: center;
    background: #fff;
}

.line:before, .line:after{
    content: "";
    display: block;
    height: 1px;
    width: 27%;
    background: #A9C9DD;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 68px;
}

.line:after{
    right: 68px;
    left: auto;
}

.mark__item--box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 4rem;
}

.mark__item--box--item{
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mark__item--box--item:before{
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    background: #A9C9DD;
    position: absolute;
    top: -58px;
}

.mark__item--box--item:nth-child(2):before{
    top: -35px;
    height: 25px;
}

.mark__item--box--text--inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5rem;
}

.mark__item--box--text{
    font-size: 1.4rem;
    color: #668faf;
    margin-top: 1.5rem;
}

.mark__item--box--text:first-child{
    margin-top: 0;
}

/* Адаптив */
@media(max-width: 1200px){
    .container{
        max-width: 978px;
    }

    .news__box--text--inner{
        max-width: 550px;
    }

    .report__box--text--inner{
        max-width: 590px;
    }
}
@media(max-width: 998px){
    .container{
        max-width: 748px;
    }

    .medium__text{
        font-size: 1.8rem;
    }

    .news__box--text--inner, .report__box--text--inner{
        max-width: 100%;
    }

    .news__box, .social__box{
        padding: 14rem 4rem 4rem 4rem;
        margin-top: 12rem;
    }

    .rep__box{
        padding: 10rem 4rem 4rem 4rem;
        margin-top: 6rem;
    }

    .build__box{
        padding: 15rem 4rem 4rem 4rem;
        margin-top: 16rem;
    }

    .contact__box{
        padding: 10rem 4rem 4rem 4rem;
        margin-top: 12rem;
    }

    .news__box--img, .smi__box--img{
        transform: translateY(50%);
        top: auto;
        bottom: 100%;
        width: 380px;
    }

    .start__item:before{
        display: none;
    }

    .time__inner{
        flex-direction: column-reverse;
        align-items: center;
    }

    .time__wrapper{
        margin-right: 0;
    }

    .time__wrapper:first-child{
        margin-top: 4rem;
    }

    .certificate__inner{
        flex-direction: column;
        align-items: center;
    }

    .certificate__img{
        margin-top: 3rem;
    }

    .mark__content{
        grid-gap: 50px;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 460px;
    }

    .title{
        font-size: 3rem;
    }

    .section__padding{
        padding: 3rem 0;
    }

    .auth__input--inner{
        width: 100%;
    }

    .auth__input--inner:nth-child(2){
        margin-top: 3.5rem;
    }

    .default__button{
        padding: 1.3rem 4rem;
        font-size: 1.8rem;
    }

    .auth__button{
        margin-top: 4rem;
    }

    .auth__content{
        margin-top: 3rem;
    }

    .auth__label{
        font-size: 1.8rem;
    }

    .news__box--text--title{
        font-size: 2.4rem;
    }

    .news__box--text--text{
        margin-top: 1.5rem;
    }

    .news__item{
        flex-direction: column;
        align-items: center;
    }

    .news__item--img{
        width: 100%;
    }

    .news__item--text--inner{
        border-radius: 0rem 0rem 10px 10px;
    }

    .news__button{
        margin-top: 2rem;
    }

    .report__box--item{
        flex-direction: column;
        align-items: center;
    }

    .report__box--date, .report__box--type, .report__box--operate, .report__box--price,
    .report__box--val, .report__box--total{
        width: 100%;
        margin-top: 1rem
    }

    .report__box--date{
        margin-top: 0;
    }

    .report__box--item p{
        text-align: center;
    }

    .report__date{
        font-size: 2.2rem;
    }

    .rep__box{
        margin-top: 8rem;
    }

    .rep__box--text--inner{
        margin-top: 2rem;
    }

    .time__wrapper{
        width: 100%;
    }

    .time__title{
        font-size: 2.4rem;
    }

    .program__content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .program__item{
        width: 100%;
        margin: 1rem;
    }

    .review__title{
        margin-top: 4rem;
    }

    .vector__box--item{
        margin: 1rem;
    }

    .some{
        padding: 3rem 0;
    }

    .start__content{
        margin-top: 3rem;
    }

    .certificate__text--title{
        font-size: 2.2rem;
    }

    .certificate__text--text{
        margin-top: 1.5rem;
    }

    .mark__tab{
        font-size: 2rem;
        padding: 1rem 2rem;
        margin-right: 2rem;
    }

    .mark__info--inner{
        flex-direction: column;
        align-items: center;
    }

    .mark__info{
        max-width: 100%;
    }

    .mark__info--img{
        margin-top: 3rem;
    }
}
@media(max-width: 480px){
    .container{
        max-width: 300px;
    }

    .title{
        font-size: 2.3rem;
    }

    .medium__text{
        font-size: 1.6rem;
    }

    .text__name{
        font-size: 2rem;
    }

    .auth__input, .auth__label{
        font-size: 1.6rem;
    }

    .news__box--img, .smi__box--img{
        width: 280px;
    }

    .news__box, .social__box, .rep__box{
        padding: 10rem 2rem 2rem 2rem;
        margin-top: 10rem;
    }

    .news__item--text--inner{
        padding: 1.5rem;
    }

    .news__box--text--title{
        font-size: 2rem;
    }

    .report__date{
        font-size: 2rem;
    }

    .report__content, .report__item{
        margin-top: 2rem;
    }

    .report__box{
        margin-top: 1.5rem;
    }

    .rep__box{
        padding: 8rem 2rem 2rem 2rem;
        margin-top: 5rem;
    }

    .time__img--inner{
        width: 100%;
        margin-left: 0;
    }

    .time__img--preview{
        left: 0;
        top: 0;
    }

    .program__content{
        margin-top: 3rem;
    }

    .program{
        padding: 3rem 0rem 7rem 0;
    }

    .review__content{
        margin-top: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .review__item{
        flex-direction: column;
        align-items: center;
    }

    .review__item--img{
        margin: 0rem 0rem 1rem 0;
    }

    .mark__tab--inner{
        flex-direction: column;
        align-items: center;
    }

    .mark__content{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .mark{
        padding: 3rem 0;
        margin-top: 2rem;
    }

    .mark__tab{
        margin: 0rem 0rem 1rem 0;
    }

    .mark__tab:last-child{
        margin: 0;
    }

    .mark__info--inner{
        margin-top: 2rem;
    }

    .mark__info--title{
        font-size: 2.5rem;
    }

    .mark__info--img{
        width: 170px;
    }

    .mark__item--wrapper{
        flex-direction: column;
        align-items: flex-start;
    }

    .mark__item--wrapper--text{
        max-width: 100%;
        margin-top: 1rem;
    }

    .mark__item--content{
        margin-top: 2rem;
    }

    .line:before, .line:after{
        display: none;
    }

    .mark__item--box{
        flex-direction: column;
        align-items: center;
    }

    .mark__item--box--item{
        width: 100%;
        margin-top: 2rem;
    }

    .mark__item--box--item:first-child{
        margin-top: 0;
    }

    .mark__item--box--item:before{
        display: none;
    }

    .mark__item--box--text--inner{
        align-items: center;
    }

    .mark__item--button{
        width: 80%;
    }
}