:root{
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

a, button, input{
    transition: .2s linear;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
    margin: 0;
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}

.button{
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.input{
    outline: none;
    border: none;
    background: none;
}

.input::placeholder{

}

.input:focus::placeholder{
    opacity: 0; 
}

.select{
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.mt1{
    margin-top: 1rem;
}

.mt2{
    margin-top: 2rem;
}

.scroll{
    overflow: hidden;
}

.black{
    font-weight: 900;
}

.blue{
    color: #13599F;
}

.title{
    font-weight: 700;
    color: #acbdce;
    font-size: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title__center{
    width: 100%;
    justify-content: center;
}

.section__padding{
    padding: 6rem 0;
}

.text__status{
    color: #439c43;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.text__date{
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    color: #4e80a8;
}

.text__date--img{
    margin-right: 1rem;
}

.medium__text{
    font-size: 2rem;
    margin-top: 3rem;
    color: #24333f;
}

/* Платежные системы */
.payment{
    position: relative;
}

.payment__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Адаптив */
@media(max-width: 1200px){
    .container{
        max-width: 978px;
    }
}
@media(max-width: 998px){
    .container{
        max-width: 748px;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 460px;
    }

    .title{
        font-size: 3rem;
    }

    .section__padding{
        padding: 3rem 0;
    }
}
@media(max-width: 480px){
    .container{
        max-width: 300px;
    }

    .title{
        font-size: 2.5rem;
    }

    .text__name{
        font-size: 2rem;
    }
}